@button test {
  border-width: 1px;
  color: #ff5400;
  background-color: rgba(248, 247, 243, 0);
  border-color: grey;
  color-hover: #f8f7f3;
  background-color-hover: #ff5400;
  border-color-hover: #ff5400;
  color-active: #f8f7f3;
  background-color-active: #bcb9af;
  border-color-active: #bcb9af;
  class-active: active;
  class-disabled: disabled;
}

.my-button {
  button: test;
}
