button,
.my-button {
  button: test;
}

.my-button-2 {
  button-color: red pink blue green;
  button-border: 2px black red;
}

@button {
  color: purple;
  background-color: aqua;
  color-active: yellow;
  background-color-active: orange;
  border-width: 0;
  border-color: orange;
  border-color-active: red;
  class-disabled: disabled;
  class-active: active;
}

.my-button-3 {
  button: 10px;
}

@button truc {
  color: purple;
  background-color: aqua;
  color-active: yellow;
  background-color-active: orange;
  border-width: 0;
  border-color: orange;
  border-color-active: red;
  class-disabled: disabled;
  class-active: active;
}

.my-button-4 {
  button: truc;
}
