@button {
  border-width: 1px;
  color: orangered;
  background-color: white;
  border-color: silver;
  color-hover: whitesmoke;
  background-color-hover: orangered;
  border-color-hover: orangered;
  color-active: whitesmoke;
  background-color-active: silver;
  border-color-active: silver;
  class-active: active;
  class-disabled: disabled;
}

.my-button {
  button: test;
}

.pad-s {
  padding: 12px;
  padding: 0.75rem;
}