@button {
  button-border-width: 1px;
  button-color: orangered;
  button-background-color: white;
  button-border-color: silver;
  button-color-hover: whitesmoke;
  button-background-color-hover: orangered;
  button-border-color-hover: orangered;
  button-color-active: whitesmoke;
  button-background-color-active: silver;
  button-border-color-active: silver;
  button-class-active: active;
  button-class-disabled: disabled;
}

.my-button {
  button: default;
  padding: 1.5rem;
  font: inherit;
}

.your-button {
  button-color: skyblue white white;
  button-background: white skyblue silver;
  button-border: 4px skyblue skyblue silver;
  button-class: active disabled;
  padding: 1.5rem;
  border-radius: 1rem;
  font: inherit;
}
