@button {
  border-width: 1px;
  color: orangered;
  background-color: white;
  border-color: silver;
  color-hover: whitesmoke;
  background-color-hover: orangered;
  border-color-hover: orangered;
  color-active: whitesmoke;
  background-color-active: silver;
  border-color-active: silver;
  class-active: active;
  class-disabled: disabled;
}

.my-button {
  button: default;
  padding: 1rem 2rem;
}

.your-button {
  button-color: skyblue white white;
  button-background: white skyblue silver;
  button-border: 4px skyblue skyblue silver;
  button-classes: active diabled;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.pad-s {
  padding: 12px;
  padding: 0.75rem;
}
