/*
    Theme
-------------------------------

*/


/*
    Sticky footer
-------------------------------

http://mystrd.at/modern-clean-css-sticky-footer/
*/

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 5rem;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: var(--color-inverse);
  &:visited {
    color: var(--color-inverse);
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--color-brand);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
  font-weight: 700;
}

b,
strong,
.strong {
  font-weight: 700;
}

header {
  padding-top: var(--base-unit-xl);
}

.container {
  gs: container;
}

@button {
  color: var(--btn-color);
  background-color: var(--btn-color-bg);
  color-active: var(--btn-color-active);
  background-color-active: var(--btn-color-bg-active);
  border-width: 0;
  border-style: none;
  border-color: grey;
  border-color-active: black;
  border-radius: 0;
  class-active: active;
  class-disabled: disabled;
}


.btn-xxs {
  padding: var(--base-unit-xxs) calc(var(--base-unit-xxs) * 2);
}

.btn-xs {
  padding: var(--base-unit-xs) calc(var(--base-unit-xs) * 2);
}

.btn-s {
  padding: var(--base-unit-s) calc(var(--base-unit-s) * 2);
}

.btn-m {
  padding: var(--base-unit-m) calc(var(--base-unit-m) * 2);
}

.btn-l {
  padding: var(--base-unit-l) calc(var(--base-unit-l) * 2);
}

.btn-xl {
  padding: var(--base-unit-xl) calc(var(--base-unit-xl) * 2);
}

.btn-full {
  width: 100%;
  text-align: center;
}

.btn-pill {
  border-radius: var(--base-unit-xl);
}

.btn-rnd {
  border-radius: var(--btn-radius);
}

.btn {
  button: default;
}

.btn-border {
  button-color: var(--btn-b-color) var(--btn-b-color-bg) var(--btn-b-color-active) var(--btn-b-color-bg-active);
  button-border: var(--btn-b-width) var(--btn-b-color-border) var(--btn-b-color-border-active);
}

.btn-alt {
  button-color: var(--btn-alt-color) var(--btn-alt-color-bg) var(--btn-alt-color-active) var(--btn-alt-color-bg-active);
}

